@media (prefers-color-scheme: dark) {
    body {
        background-color: #001030;
        background: #001933;
        border: 0;
        color: rgb(218,218,218);
        font-family: "SF Mono Medium";
        font-size: system-ui;
        font-weight: system-ui;
        border-style: none;
        shadow: none;
    }
    a:link {
        color: #e38daf;
        text-decoration: none;
    }
    a:visited {
        color: #9c96e9;
    }
    .mask {
           fill: #DDD;
           opacity: 0.25;
           cursor: crosshair;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #eee;
        background: #eee;
        border: 0;
        color: rgb(32,32,32);
        font-family: "SF Mono Medium";
        font-size: system-ui;
        font-weight: system-ui;
        border-style: none;
        shadow: none;
    }
    a:link {
        color: #b43222;
        text-decoration: none;
    }
    a:visited {
        color: #963fa0;
    }
    
    .mask {
        fill: #333;
        opacity: 0.25;
        cursor: crosshair;
    }
}

/*.state {*/
/*  fill: inherit;*/
/*}*/

.border {
  fill: none;
  stroke: #fff;
  stroke-width: 0.25;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.container {
    fill: #fff; 
    opacity: 0;
}



